<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="IP" value="127.0.0.1" />
        <add key="Port" value="26760" />
        <add key="MotionServer" value="true" />
        <add key="LowFreqRumble" value="40" />
        <add key="HighFreqRumble" value="120" />
        <add key="EnableRumble" value="true" />
        <add key="EnableShakeInput" value="false" />
        <add key="ShakeInputSensitivity" value="10" />
        <add key="ShakeInputDelay" value="200" />
        <add key="SwapAB" value="false" />
        <add key="SwapXY" value="false" />
        <add key="AllowCalibration" value="false" />
        <add key="acc_sensiti" value="16384,16384,16384" />
        <add key="gyr_sensiti" value="18642,18642,18642" />
        <add key="stick_cal" value="0x780,0x780,0x780,0x830,0x780,0x780" />
        <add key="deadzone" value="200" />
        <add key="stick2_cal" value="0x780,0x780,0x780,0x830,0x780,0x780" />
        <add key="deadzone2" value="200" />
        <add key="GyroAnalogSliders" value="false" />
        <add key="GyroAnalogSensitivity" value="400" />
        <add key="PurgeAffectedDevices" value="false" />
        <add key="PurgeWhitelist" value="false" />
        <add key="UseHIDG" value="true" />
        <add key="HomeLEDOn" value="true" />
        <add key="UseIncrementalLights" value="true" />
        <add key="GyroToJoyOrMouse" value="false" />
        <add key="UseFilteredIMU" value="true" />
        <add key="AHRS_beta" value="0.05" />
        <add key="GyroMouseSensitivityX" value="1200" />
        <add key="GyroMouseSensitivityY" value="800" />
        <add key="GyroStickSensitivityX" value="40.0" />
        <add key="GyroStickSensitivityY" value="10.0" />
        <add key="GyroStickReduction" value="1.5" />
        <add key="GyroHoldToggle" value="true" />
        <add key="GyroMouseLeftHanded" value="false" />
        <add key="DragToggle" value="false" />
        <add key="ShowAsXInput" value="true" />
        <add key="ShowAsDS4" value="false" />
        <add key="AutoPowerOff" value="false" />
        <add key="PowerOffInactivity" value="-1" />
        <add key="HomeLongPowerOff" value="true" />
        <add key="ChangeOrientationDoubleClick" value="true" />
        <add key="DoNotRejoinJoycons" value="false" />
        <add key="DebugType" value="0" />
    </appSettings>
</configuration>